<!-- ====================== Home =====================-->
<div class="row-fluid">
  <div class="span3">
    <div id="source-editor-modal"></div>
    <div class="modal hide" id="rule-editor-modal" tabindex="-1"></div>
    <div id="controller"></div>
    <p />
    <div id="progressbar"></div>
  </div>

  <div class="span9">
	<div id="home-alert"></div>
    <div id="widget">
	  <%= placeholder1 %>
    </div>
    <p />
    <div id="tables">
	  <%= placeholder2 %>
    </div>
  </div>
</div>
<!-- End of Home -->
