<ul class="nav nav-tabs">
    <li class="active">
        <a data-toggle="tab"><i class="icon-folder-open" style="margin-right: 10px;">
        </i>List of Tables</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane in active">
        <div class="control-group">
        <button class="btn btn-primary" id="new-source" data-toggle="modal">
                New Data Source</button>
        </div>
        <div class="control-group">
            <select id="selected_source" class="selectbox fullwidth" size="5">
                <% _.each(sources, function(source) { %>
                <!-- TODO: to improve the magic number -->
                <option value="<%= source %>"><%= source.substr(3) %></option>
                <% }); %>
            </select>
        </div>
    </div>
</div>
<p>

<ul class="nav nav-tabs">
    <li class="active">
        <a data-toggle="tab"><i class="icon-edit" style="margin-right: 10px;">
        </i>Rules</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane in active">
        <div class="control-group">
            <button class="btn btn-primary" id="new_plan">New</button>
            <button class="btn" id="detect">Detect</button>
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    More
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#" id="edit_plan">Edit</a></li>
                    <li><a href="#" id="delete">Delete</a></li>
                    <li class="divider"></li>
                    <li><a href="#" id="btn-discover">Discover</a></li>
                    <li><a href="#" id="repair" class="disabled">Repair</a></li>
                </ul>
            </div>
        </div>
        <div class="control-group">
            <select multiple id="selected_rule" class="selectbox fullwidth" size="10">
            </select>
        </div>
        <label>Details</label>
        <div id="detail">
            <div class="well well-small"><span>No detail is available.</span></div>
        </div>
    </div>
</div>
<p>
<ul class="nav nav-tabs">
    <li class="active">
        <a data-toggle="tab"><i class="icon-tasks" style="margin-right: 10px;">
        </i>Progress</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane in active">
        <div id="progressbar"></div>
    </div>
</div>
