<!-- ==================== RuleEditor ======================== -->
<div class="modal-header">
    <button type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true">
        &times;
    </button>
    <h3>Edit Rule</h3>
</div>
<div class="modal-body" id="cleanPlanView">
    <div id="cleanPlanView-alert"></div>
    <div class="container-fluid">
        <div class="span3">
            <form>
                <fieldset style="min-width: inherit">
                    <label>Name &nbsp;
                        <a href="#" data-toggle="tooltip" title="e.g. MyRule, MyFD">
                            <i class="icon-question-sign"></i>
                        </a>
                    </label>
                    <input type="text"
                           placeholder="Rule Name"
                           id="rule-name"
                           value="<%=name %>"
                           style="max-width: 100%">
                    <label>Table 1
                    </label>
                    <select id="table1" style="max-width: 100%">
                        <option value=""></option>
                        <% _.each(sources, function(source) { %>
                        <option
                        <% if (source == table1) { %>
                        selected
                        <% } %>
                        value="<%= source %>"><%= source.substr(3) %></option>
                        <% }); %>
                    </select>
                    <label>Table 2 &nbsp;
                        <a href="#" data-toggle="tooltip"
                           title="Select when the rule works with 2 tables">
                            <i class="icon-question-sign"></i>
                        </a>
                    </label>
                    <select id="table2" style="max-width: 100%">
                        <option value=""></option>
                        <% _.each(sources, function(source) { %>
                        <option
                        <% if (source == table2) { %>
                        selected
                        <% } %>
                        value="<%= source %>"><%= source.substr(3) %></option>
                        <% }); %>
                    </select>
                    <label>Type
                    </label>
                    <select id="rule-type" style="max-width: 100%">
                        <option value="FD">FD</option>
                        <option value="ER">ER</option>
                        <option value="DC">DC</option>
                        <option value="UDF">Java</option>
                    </select>
                </fieldset>
            </form>
        </div>
        <div class="span9">
            <div>
                <ul class="nav nav-tabs" id="rule-editor-tab">
                    <li class="active">
                        <a href="#advance-editor" data-toggle="tab">Editor</a>
                    </li>
                    <li>
                        <a href="#code-editor" data-toggle="tab">Code</a>
                    </li>
                </ul>
                <div class="tab-content"
                     style="border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd">
                    <div id="code-editor" class="tab-pane" style="margin: 5px;">
                        <ul class="breadcrumb" style="margin-bottom: 5px; margin-left: 2px; margin-right: 2px;">
                            <li><a href="#" id="horizontalScope">Horizontal Scope</a>
                                <span class="divider">/</span>
                            </li>
                            <li><a href="#" id="verticalScope">Vertical Scope</a>
                                <span class="divider">/</span>
                            </li>
                            <li><a href="#" id="block">Block</a>
                                <span class="divider">/</span>
                            </li>
                            <li><a href="#" id="iterator">Iterator</a>
                                <span class="divider">/</span>
                            </li>
                            <li><a href="#" id="detect">Detect</a>
                                <span class="divider">/</span>
                            </li>
                            <div class="btn-group pull-right" style="margin-top: -3px;">
                                <button class="btn"
                                    id="enlarge-font"
                                    data-toggle="tooltip"
                                    title="Increase the font size">
                                    <i class="icon-font"></i>+
                                </button>
                                <button class="btn"
                                        id="decrease-font"
                                        data-toggle="tooltip"
                                        title="Decrease the font size">
                                    <i class="icon-font"></i>-
                                </button>
                                <button class="btn"
                                        id="verify"
                                        data-toggle="tooltip"
                                        title="Verify the Java code">
                                    <i class="icon-thumbs-up"></i>&nbsp;Verify
                                </button>
                            </div>
                        </ul>
                        <pre id="ace-editor"></pre>
                    </div>
                    <div id="advance-editor" class="tab-pane active">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default btn-large"
            id="generate"
            data-toggle="tooltip"
            title="Generate Java code">Generate</button>
    <button class="btn btn-primary btn-large "
            id="save"
            data-toggle="tooltip"
            title="Save the rule">Save</button>
</div>
<!-- End of RuleEditor -->
