<!-- Data source editor -->
<div class="modal hide" id="source-editor">
    <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-hidden="true">
            &times;
        </button>
        <h4>Create New Data Source</h4>
    </div>

    <div class="modal-body modal_large">
        <div>
            <div id="dropbox">
                <span class="message" id="dropbox-message">
                    Drop CSV file here to upload.
                </span>
            </div>
            <div class="progress" id="dropbox-progress">
                <div class="bar"></div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button href="#"
           data-dismiss="modal"
           data-target="#datasource"
           class="btn"
           id="source-editor-save">
            Save
        </button>
    </div>
</div>