<div id="playground"
     style="margin: 5px; background-color: #eee; border-bottom: 1px solid #ccc; min-height: 400px">
</div>
<!-- table -->
<div id="property">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Column A</th>
            <th>Operation</th>
            <th>Column B</th>
            <th>Comparator</th>
            <th>Value</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="ruleTableBody">
        </tbody>
    </table>
</div>