<div style="margin: 20px;">
    <div class="well well-small" style="width: 90%">
        <p style="font-size: 16px;">
            Functional Dependency (FD) is a constraint between two sets of attributes in
            a relation. It is composed of left hand and right hand. It means for the equal
            left hand value tuple the right hand value should also be the same.

            The syntax of FD Rule is as following
        </p>
        <p class="text-center">
            <a href="#" class="btn btn-info disabled">Column A</a>
            <a href="#" class="btn btn-info disabled">Column B...</a>
            <a href="#" class="btn btn-warning disabled">|</a>
            <a href="#" class="btn btn-info disabled">Column C</a>
            <a href="#" class="btn btn-info disabled">Column D...</a>
        </p>
        <p style="font-size: 16px;">
            For example, rule <span class="label label-info">zipcode | city, state</span>
            indicates that tuples with the same zipcode
            value should also have the same attribute value on city and state.
        </p>
    </div>

    <input type="text"
           data-provide="typeahead"
           style="width: 90%; font-size: 18px; padding: 10px;"
           id="value"
           value="<%= code %>">
</div>
