<div style="margin: 20px;">
    <div class="well well-small" style="width: 90%">
        <p style="font-size: 16px;">
            User defined function (UDF) rule provides the best expression power by leveraging
            the NADEEF interface. Please use the <span class="label label-info">Code</span>
            tab to write UDF Java rule.
        </p>
        <p class="text-center">
            <a href="#"
               class="btn btn-info disabled"
               id="create-single-tuple">Create Single Tuple Rule</a>
            <a href="#"
               class="btn btn-info disabled"
               id="create-pair-tuple">Create Pair Tuple Rule</a>
        </p>
    </div>
</div>
